* {
  root * /app/front
  encode gzip
  try_files {path} /index.html
  file_server

  # Access logs JSON pour ingestion ELK
  log {
  output file /data/logs/caddy-access.json {
    mode 0644
  }
    format json
  }
}
